html {
  scroll-behavior: smooth;
} 

body {
  transition: background 0.3s, color 0.3s;
}

section {
  scroll-margin-top: 112px;
}

body::-webkit-scrollbar {
  display: none;
}

.content-card {
  border: 1px solid var(--border);
  background: var(--background);
  border-radius: 8px;
}
